body{
  font-family : verdana,helvetica,arial,sans-serif;
  width:1000px;
  margin:auto;
}

.floatRight{
  float:right;
}

.bold{
  font-weight:bold;
}

.centered{
  text-align:center;
}

table.formInputs{
  position:relative;
  border-collapse:collapse;
  width:100%;
  margin: auto;
  
}

table.formInputs tr{
  border:0px;
}

button{
	width:180px;
	height:30px;
	border:0px;
	font-family:verdana,helvetica,arial,sans-serif;
	font-size:14px;
	color:#FFFFFF;
	background-color:#999999;
	margin:7px 0px 7px 10px;
	border-radius: 5px;
  cursor:pointer;
}

.ruleAction{
	width:90px;
}

button:hover{
	background-color:#CCCCCC;
}


table{
  position:relative;
  border-collapse:collapse;
  width:100%;
  margin: auto;
}

td.label{
  text-align:right;
  vertical-align:top;
  font-size:14px;
}

thead{
  text-align:center;
  color:#FFFFFF;
	background-color:#999999;
}

thead th{
  border:1px solid #ffffff;
}

tr{
  border-top:1px solid #CCCCCC;
}

div.overlay{
  position: absolute;
  left: 0px;
  top: 0px;
  width:100%;
  height:100%;
  text-align:center;
  background-color: rgba(255,255,255,0.8);
  display:none;
  z-index: 1000;
}

div .form{
  position:relative;
  top:200px;
  width:500px;
  margin:auto;
  border-radius: 20px;
  border:15px solid rgba(100,100,100,0.8);
  padding:20px;
  background-color:#ffffff;
  display:none;
}

div.close{
  position:absolute;
  top:0;
  right:0;
  width:10px;
  height:10px;
  padding:7px;
  font-weight:bold;
  text-align:center;
  color:#999999;
  cursor:pointer;

}

div.close:hover{
  color:#000000;
}

h2{
  clear:both;
  color:#999999;
  border-bottom:2px solid #999999;
}

h3{
  clear:both;
  color:#999999;
  border-bottom:1px solid #CCCCCC;
}