button{
	width:180px;
	height:30px;
	border:0px;
	font-family:'Courier New';
	font-size:14px;
	color:#ffffff;
	background-color:#999999;
	margin:7px;
	border-radius: 5px;
}

button:hover{
	background-color:#CCCCCC;
}

div.notification{
	border-radius: 5px;
	width:160px;
	margin:7px;
	padding:5px 10px 5px 10px;
	font-family:'Courier New';
	font-size:14px;
	color:#000000;
	font-weight:bold;
	text-align:center;
	-webkit-transition: all 0.5s ease;
}

div.hide{
	opacity:0;
}

div#success{
	background-color:#B0FFB9;
}

div#notice{
	background-color:#D3CFFF;
}

div#warning{
	background-color:#FFFDC9;
}

div#error{
	background-color:#F76F6F;
}

div#notifications{
	border:0;
	border-top:1px solid #DDDDDD;
}